.navbar {
    width: 100%;
    height: 90px;
    background: #458ff0;

    position: sticky;
    top: 0;
    z-index: 9999;

    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.22);
}

.navbar-container {
    width: 90%;
    max-width: 1500px;
    height: 100%;

    margin: auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Logo */

.navbar-logo {
    display: flex;
    align-items: center;
}

.navbar-logo img {
    width: 270px;
    height: auto;
    display: block;
}

/* Menu */

.navbar-menu {
    display: flex;
    align-items: center;
    gap: 35px;
}

.navbar-menu a {
    color: white;

    text-decoration: none;

    font-size: 18px;
    font-weight: 400;

    white-space: nowrap;

    transition: 0.2s;
}

.navbar-menu a:hover {
    color: #e8e8e8;
}

/* Login */

.login-btn {
    border: 1px solid #222;

    background:  #ffc233;
    color: #111 !important;

    padding: 3px 18px;

    border-radius: 3px;

    font-size: 16px;

    cursor: pointer;

    transition: 0.2s;
}

.login-btn:hover {
    background: #f1f1f1;
}